<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Golf Score Keeper</h1>
    <div>%20</div><br/><br/><br/>
    <div><a href="/score/seed">Seed Scores?</a></div>
    <div><a href="/score">View Scores?</a></div>


  </body>
</html>
