<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class='container'>
        <div class = 'topcon'>
        <%- include('./partials/header.ejs') %>

        <div class='h2'>Welcome, Lets see how you did...</h1>


        <div class='topbot'><a href="/score">View Scores?</a></div>

        <div class='topbot'><a href="/score/seed">Seed Scores?</a></div>
    </div>
  </div>


  </body>
</html>
