<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <div class='h2'>Welcome to Golf Score Keeper</h1>


    <div class='h3'><a href="/score">View Scores?</a></div>

    <div class='h3'><a href="/score/seed">Seed Scores?</a></div>




  </body>
</html>
