<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Golf Score Keeper</h1>


    <div style="margin: 10px 0px 30px 40px;"><a href="/score">View Scores?</a></div>

    <div style="margin: 10px 0px 10px 40px;"><a href="/score/seed">Seed Scores?</a></div>


  </body>
</html>
