body {margin: 1em 1em 1em 1em;
      border: 2px solid navy;
      border-radius: .3px;
}

.h2 { font-size:20px;
      margin-bottom: 10px;
}

.h3 {font-size:15px
}

.flex { display: flex;
}

#inptitle {
    width:140px;
}
